body {
  font-style: 16px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  letter-spacing: 0.5;
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.logo-link {
  transition: opacity 0.4s ease;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.6;
}

.site-header-actions{
  display: flex;
  align-items: center;
}

.sitenav-list {
  display: flex;
  list-style: none;
}


.sidenav-link {
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  transition: color 0.4s ease,
  opacity 0.4s ease;
}

.sidenav-link:hover {
  color: #ff7500;
}

.sidenav-link:active {
  opacity: 0.6;
}

.main-link {
  font-size: 13px;
  line-height: 15px;
  background-color: #ff7500;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.4s ease;
}

.main-link:hover {
  opacity: 0.8;
}


.main-link:active {
  opacity: 0.6;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252420;
  color: #fff;
}

hero-content {
  width: 390px;
}

.orange-line {
  width: 80px;
  height: 3px;
  background-color: #ff7500;
}

.hero-heading {
  font-size: 40px;
  line-height: 1.2;
  font-family: "Roboto condensed", "Arial", sans-serif;
}

.hero-img {
  width: 510px;
  height: 510px;
}

.features-list{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.features-heading {
  width: 440px;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  font-family: "Roboto condensed", "Roboto", "Arial", sans-serif;
}

.feature{
  width: 340px;
}

.feature-icon-wrapper {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
}



.featura-title {
font-size: 24px;
line-height: 1.2;
font-family: "Roboto condensed", "Roboto", "Arial", sans-serif;
}

.promo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252420;
  color: #fff;
}

.pr-content{
  width: 440px;
}

.pr-heading{
  font-size: 40px;
  line-height: 28px;
  font-family: "Roboto condensed", "Roboto", "Arial", sans-serif;
}


.pr-highlights{
  color: #ff7500;
}

.pr-img{
  width: 440px;
  height: 440px;
  object-fit: cover;
}

.site-footer-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-footer{
  background-color: #f8f8f8;
}


.site-footer ul {
  list-style: none  ;
}
.socials{
  display: flex;
  align-items: center;
}

.socials{
  color: #252420;
}

.socials a:hover{
 color: #ff7500;
}

.socials a:active{
  opacity: 0.6;
 }

.site-footer-divider{
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5);
}
.site-footer-bottom{
  display: flex;
}

.site-footer-link-list{
  width: 224px;
  line-height: 19px;
}

.site-footer-link-list a {
  text-decoration: none;
  color: #252420;
}

.site-footer-link-list a:hover {
  color: #ff7500;
}


.site-footer-link-list a:focus {
  opacity: 0.6;
}